<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yireo_whoops>
            <settings>
                <override>0</override>
            </settings>
        </yireo_whoops>
    </default>
</config>