<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Http">
        <plugin name="Yireo_Whoops::HttpApp" type="Yireo\Whoops\Plugin\HttpApp" />
    </type>

    <type name="Yireo\Whoops\Plugin\HttpApp">
        <arguments>
            <argument name="pageHandler" xsi:type="object">Whoops\Handler\PrettyPageHandler</argument>
        </arguments>
    </type>
</config>
